<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Sign in</p>
    <input type="email" placeholder="E-mail" formControlName="username" class="form-control" />
    <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password" />
    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember"
                    formControlName="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <a routerLink="/forgetpassword" class="btn btn-link forget_css">Forget password?</a>
        </div>

    </div>
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign in
    </button>

    <!-- Register -->
    <p>Not a member?
        <a routerLink="/register" class="btn btn-link">Register</a>
    </p>
</form>